@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background: url(images/travel.jpg) no-repeat center center fixed;
  margin: 0;
  display: block;
  align-items: center;
  justify-items: center;
  height: 90vh;
}

head {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  padding: 5px;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  font-family: inherit;
}

p {
  text-align: center;
  color: rgb(255, 255, 255);
}

#amount {
  border: 0;
  border-radius: 3px;
  padding: 7px 10px 7px 15px;
  font-size: 16px;
}
#amount:focus {
  outline: none;
}

.parent {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.message {
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin-top: 100px;
}

.box {
  background-color: rgba(218, 218, 218, 0.9);
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.6);
  flex: 1 1 200px; /*  Stretching: */
  flex: 0 1 200px; /*  No stretching: */
  cursor: pointer;
  position: relative;
  aspect-ratio: 3 / 2;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  border: 0;
  border-radius: 5px;
}

.box h3 {
  color: rgba(59, 59, 59, 0.664);
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}

.box:focus {
  outline: 0;
}

#postcard {
  background-color: rgba(161, 161, 161, 0.795);
  box-shadow: 0 10px 10px -6px #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  aspect-ratio: 3 / 2;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 5px;
  box-shadow: 0 10px 25px -8px rgba(0, 0, 0, 0.897);
  z-index: 10;
}

.hidden {
  display: none;
}

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 8px;
  font-size: 13px;
  font-weight: bold;
  margin: 5px;
}

.btn a {
  color: #000;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.9);
}
